/* Selector universal */
*{
    text-align: justify;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Titillium Web', sans-serif;
    /* background: linear-gradient(
        to top,
        rgb(64, 164, 194),
        rgb(179, 93, 153)
    ) */
    /* background: radial-gradient(lightblue, pink, rgb(157, 230, 154)); */
    /* background: conic-gradient(blue, yellow, brown, green); */
    background: linear-gradient(white, pink, rgb(129, 184, 184));
    /* background-image: url(./images/fondo-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    padding: 10px;
}
/* Selector elemento */
h1{
    /* font-family: 'Roboto Mono', monospace; */
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: italic;
    /* background-color: blueviolet; */
    /* font-family: 'Courier New', Courier, monospace; */
    color: orangered;
    background-color: lavender;
    /* position: relative; */
    text-align: center;
    padding: 2px 0px 2px 2px;
    /* padding-bottom:  25px;
    padding-top: 25px; */
    margin-top: -10px;
}

/* Selector por id*/
#estilo-titulo{
    color: blue;
}

/*Selector por clase */
.estilo-parrafos{
    text-align: center;
    color: blueviolet;
}

img{
    border: solid black 2px;
    /* border-style:  double solid dashed dotted;
    border-color: aqua red purple green;
    border-width: 15px 9px 20px 5px; */

    /* border-top: 20px solid green;
    border-left: 10px;
    border-bottom: 20px solid red;
    border-right: 20px; */
    width: 400px; 
    height: 270px;
    padding: 25px 10px 15px 5px;
    /* padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 15px; */
    margin: 25px 20px 15px 10 px;
    /* margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px; */
    border-radius: 15px; /*Se utiliza en botones e inputs*/
}
.posicionamiento-h1 {
    position: sticky;
    top: 0px ;
}
.posicionamiento {
    position: sticky;
    top: 47px ;
    /* left: ;
    right: ;
    bottom: ; */
}
.estilo-link{
    text-decoration: none; /*Quitarle subrayado*/
    list-style-type: disc;
    /*lower_alpha listas ordernadas*/
}
ol li{
    padding: 10px 0px 0px 5px;
    margin: 15px;
    list-style: lower-latin;
}
.nav-bar li{
    background: lightgreen;
    text-align: center;
    line-height: 3.5;
    display: inline-block;
    word-spacing: normal;
    font-size: 1rem;/*u otra unidad para IE8 y -*/
    letter-spacing: normal;
    text-align: center;
    font-weight: bold;
    height: 45px;
    width: 16%;/*El valor necesario*/
    padding: 2.7px;
    /* list-style-type: none;
    display: inline; */
    /* display: inline-block;
    font-size: 20px;
    line-height: inherit;
    font-size: 1.5rem; */
    /* text-align: ; */
    /* padding: 6px 2px 2px 0px; */
}

.estilo-link:link{ /*no visitado */
    color: aqua;
}
.estilo-link:visited{ /*visitado */
    color: blueviolet;
}
.estilo-link:hover{ /*cuando pasa el mouse*/
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.estilo-link:active{ /*cuando le damos click*/
    color: brown;
}

:target::before {
    content: "";
    display: block;
    height: 90px; /* aquí la altura de la cabecera fija*/
    margin: -63px 0 0; /* altura negativa de la cabecera fija */
}
tr:hover{
    background-color: bisque;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th,
td {
    text-align: center;
}
/* table, */
th,
tr, 
td{
    /* border: 1px solid red; */
    border-bottom: 1px solid red;
}